<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Alzheimer's Disease Detection</h1>
    </header>
    <main>
        <section>
            <h2>
               We detect Alzheimer's disease using advanced machine learning techniques.
            </h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Alzheimer's Disease Detection</p>
    </footer>
    
</body>
</html>