<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alzheimer's Disease Detection</title>
    <meta
      name="description"
      content="Alzheimer's Disease Detection using Machine Learning"
    />
    <meta name="author" content="Tahira Inam" />
    <!--add Open Graph meta tags  TO UPDATE LATER, BEFORE FINALIZING THE PROJECT-->
    <!--
    <meta property="og:title" content="Alzheimer's Disease Detection">
    <meta property="og:description" content="Alzheimer's Disease Detection using Machine Learning">
    <meta property="og:image" content="URL to an image representing the project">
    <meta property="og:url" content="URL to the project">
    
    -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <header class="bg-gray-800 text-white text-center">
      <h1 class="text-3xl font-bold">Alzheimer's Disease Detection</h1>
    </header>
    <main class="container mx-auto p-4">
      <section class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl text-center font-semibold mb-4">
          We detect Alzheimer's disease using advanced machine learning
          techniques.
        </h2>
      </section>
    </main>
    <footer class="bg-gray-800 text-white text-center p-4 mt-6">
      <p>&copy; 2025 Alzheimer's Disease Detection</p>
    </footer>
  </body>
</html>
