<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's Disease Detection</title>
    <meta name="description" content="Alzheimer's Disease Detection using Machine Learning">
    <meta name="author" content="Tahira Inam">
    <!--add Open Graph meta tags  TO UPDATE LATER, BEFORE FINALIZING THE PROJECT-->
    <!--
    <meta property="og:title" content="Alzheimer's Disease Detection">
    <meta property="og:description" content="Alzheimer's Disease Detection using Machine Learning">
    <meta property="og:image" content="URL to an image representing the project">
    <meta property="og:url" content="URL to the project">
    
    -->
</head>
<body>
    <header>
        <h1>Alzheimer's Disease Detection</h1>
    </header>
    <main>
        <section>
            <h2>
               We detect Alzheimer's disease using advanced machine learning techniques.
            </h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Alzheimer's Disease Detection</p>
    </footer>
</body>
</html>